<div lang="en-ID" link="#0563C1" vlink="#954F72" style="padding-top: 25px; word-wrap:break-word;">
    <p>
        Jakarta, {{ asAtDate }}
    </p>
    <p>
        Dear {{ customerName }},
    </p>
    <p>
        Sebelumnya kami mengucapkan terima kasih atas kepercayaan dan kerjasama yang telah terjalin selama ini dengan PT. ASURANSI TOTAL BERSAMA.
        <br />
        Berdasarkan catatan kami per tanggal {{ asAtDate }}, terlampir adalah rincian tagihan premi.
    </p>
    <p>
        Besar harapan kami kepada Bpk/Ibu dapat melakukan pembayaran atas premi,
        <span style="background-color: yellow; font-weight: bold;">terutama tagihan yang melewati tanggal jatuh tempo</span>
    </p>
    <p>
        Premi dapat dibayarkan ke BCA VIRTUAL ACCOUNT sebagai berikut:
    </p>
    <table style="width:auto; border-collapse: collapse;">
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">No. Virtual Account</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">{{ virtualAccount }}</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">Atas Nama</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">{{ customerName }}</td>
        </tr>
    </table>
    <br />
    <p>
        Jika Virtual Account tidak bisa digunakan, maka dapat dibayarkan pada pilihan rekening kami sebagai berikut:
    </p>
    <table style="width:auto; border-collapse: collapse;">
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">1. No Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">879-209-1333</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Nama Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">PT. ASURANSI TOTAL BERSAMA</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Bank</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">BCA Cab. WTC Mangga Dua</td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">2. No Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">120-00-3588888-7 (MANDIRI USD)</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Nama Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">PT. ASURANSI TOTAL BERSAMA</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Bank</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">Mandiri USD cab Sunter Permai</td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">3. No Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">120-00-3288888-0 (MANDIRI IDR)</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Nama Rekening</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">PT. ASURANSI TOTAL BERSAMA</td>
        </tr>
        <tr>
            <td style="padding-right: 20px; vertical-align: top; white-space: nowrap;">&nbsp;&nbsp;&nbsp; Bank</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">Mandiri Cab Sunter Permai</td>
        </tr>
    </table>
    <p>
        Kami harap dapat dilakukan pembayaran dalam waktu dekat.
    </p>
    <p>
        Apabila pembayaran telah dilakukan mohon dapat diinfokan ke
        <a href="mailto:finance@tob-ins.com" target="_blank" rel="noopener noreferrer" style="color: blue !important;">
            finance@tob-ins.com
        </a>
    </p>
    <p>
        Jika tagihan tersebut telah dibayarkan sebelum surat ini diterima, mohon untuk menginformasikannya kepada kami dan abaikan surat tagihan ini.
        <br/>
        Demikian kami sampaikan, atas perhatian dan kerjasamanya kami ucapkan terima kasih.
    </p>
    <p>
        Hormat kami,
    </p>
	<img src="{{ImgSign}}" style="width:100px;height:auto" />
    <p>
        Finance Dept.
    </p>
</div>
                        